fastmcp
pydantic
beautifulsoup4
openinference-instrumentation-pydantic-ai
pydantic-ai
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-api
arize-phoenix-otel
pydantic-evals
arize-phoenix 
openinference-instrumentation-mistralai
